<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta vmid="description" name="description"  content="Good news, is the best news!" data-vue-meta="true">
    <meta vmid="keywords" name="keywords" content="beritabaik, news" data-vue-meta="true">
    <meta name="author" content="Berita Baik | Content Management System">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="twitter:image" content=" https://www.beritabaik.id/img/berita_baik_square.png">
    <meta name="twitter:title" content="Berita Baik"  >
    <meta name="twitter:description" content="Berita Baik">
    <!-- <meta name="twitter:card" content="-" id="metaTwCard"> -->
    <meta property="og:image" content="https://www.beritabaik.id/img/berita_baik_square.png">
    <meta property="og:site_name" content="beritabaik.id" />
    <meta property="og:description" content="Berita Baik" />
    <meta property="og:url" content="https://beritabaik.id/" >
    <meta property="og:type" content="news"/>
    <!-- google site verification -->
    <meta name="google-site-verification" content="yrghX3PcQ1BsmX3NmRdwl4CCmLQ3qMtvxbMVk7vHLws" />
    <!-- Google / Schema.org markup: -->
    <meta itemprop="name"  content="beritabaik.id" data-vue-meta="true">
    <meta itemprop="description"  content="Good news, is the best news!" data-vue-meta="true">
    <meta itemprop="image"  content="https://www.beritabaik.id/img/berita_baik_square.png" data-vue-meta="true">
    <title>Berita Baik</title>

   
  </head>
  <script src=<%= htmlWebpackPlugin.options.path %>/static/tinymce4.7.5/tinymce.min.js></script>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="https://apis.google.com/js/api:client.js"></script> 
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN0keq9G9Hby59mKdWiNWSoTERyQhwX3w&libraries=places"></script> -->
  </body>
  
</html>
