@import './variables.scss';

.ads{
    &-container{        
        width: 100%;
        margin: 20px 0;
        // background-color: #f00;
    }
    &-title{
        color: #ccc;
        text-align: center;
        font-size: 10px;
        line-height: 18px;
    }
    &-content{
        // text-align: center;        
        // background-color: #333;
        //padding: 10px;
        // display:block;
        // height: auto;
        img{
            // background-color: #f00;
            max-width: 100%; 
            display:block;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 480px) {                
            }
        }
    }
    
}