body{
  margin: 0 auto; padding: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Neosans';
}
.container {  
  position: relative;
  //max-width: 1170px;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;  
    
}
.container-black {  
  position: relative;
  //max-width: 1170px;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;  
  background-color: $bb-black;    
}
.video-paging,
.gallery-paging,
.infografis-paging{
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .el-pager li {    
    background-color: transparent;
    color: $bb-gray;
    font-family: DINPro-Regular, Neosans-Medium-Italic, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    &:hover { 
      color: $main-red;
    }
    span{
      font-size: 16px;
    }
  }

  .el-pagination.is-background .btn-next.disabled,
  .el-pagination.is-background .btn-prev.disabled {
    color: #c0c4cc;
    &:hover{
      color: none;
    }
  }

  .el-pagination.is-background .el-pager li {    
    min-width: 30px;
    height: 30px;
    line-height: 28px;
    vertical-align: top;
  }
  .el-pagination.is-background .el-pager li.active { 
    border: 2px solid $main-red;
    border-radius: 50%;
    color: $main-red;    
  }

}

.comments-paging,
.ac-paging{
  
  .el-pagination {
    // white-space: pre-wrap;
    padding: 0;    
  }
  
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .el-pager li {    
    background-color: transparent;
    color: $black-2;
    font-family: DINPro-Regular, Neosans-Medium-Italic, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    @media all and (max-width : 768px) {
      font-size: 10px;
      margin: 0;
    }    
    &:hover { 
      color: $main-red;
    }
    span{
      font-size: 12px;
    }
  }

  .el-pagination.is-background .btn-next.disabled,
  .el-pagination.is-background .btn-prev.disabled {
    color: #c0c4cc;
    &:hover{
      color: none;
    }
  }

  .el-pagination.is-background .el-pager li {    
    min-width: 24px;
    height: 24px;
    line-height: 24px;
  }
  .el-pagination.is-background .el-pager li.active { 
    border: 2px solid $black-2;
    border-radius: 50%;
    color: $black-2;
    line-height: 20px;   
  }
}
.share-pop,
.icon-network{
  cursor: pointer;
  .network-icon {
    cursor: pointer;
    border-radius: 50px;
    // box-shadow: 0px 0px 2px #0a0a0a;
    padding: 3px;
    border: 2px solid #515151;
    width: 24px;
    height: 24px;
    margin-right: 3px;
  }
}
.ed-share{
  text-align: center;
  .el-dialog__header{
    padding: 10px 10px 15px 10px;
  }
  .el-dialog__body{
    text-align: center;
    padding: 10px;
  }
}

/*
  additional  top slider
*/

/*
  home-headline-slider indicator
  set height
  set indicator
*/
.hl-slider{  
  .el-carousel__container{
    // height: auto;
    .el-carousel__arrow{
      background-color: rgba(5,29,73,1);
    } 
  }  
  .el-carousel__item{
    background-color: #fff;
    // max-height: 300px;
    margin: 0;
    padding: 0;
  }
  .el-carousel__indicators{
    // padding: 0;
  }
  .el-carousel__button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $main-blue;
  }
  
  @media all and (max-width : 768px) {
    .el-carousel__container{
      height: 420px;
      .el-carousel__arrow{
        background-color: rgba(5,29,73,0.6);
      }
    }
    .el-carousel__item{     
      
    }
  }
}
/* 
  carousel galeri-foto
  set height
  set indicator
*/
.gf-slider{  
  .el-carousel__container{    
    position:relative;
    height: 0;
    padding-bottom: 56.4%;
    margin: 0 auto;
  }
  .el-carousel__indicators{
    // padding: 0;
  }
  .el-carousel__button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

// dialog article details
.rpt{
  .el-dialog{
    .el-dialog__header,
    .el-dialog__body,
    .el-dialog__footer
    {
        background-color: #e6e6e6;
        padding-left: 40px;
        padding-right: 40px;
    }
    .el-dialog__header{
      text-align: center;
      font-family: 'Neosans';
      font-weight: 900;      
      .el-dialog__title{
        padding: 10px 0;
        background-color: #fff;
        display: block;
        width: 100%;
      }
      .el-dialog__headerbtn{
        top: 5%;
        right: 1%;
        border: 2px solid #696968;
        border-radius: 50%;
        i{ color: #696968; padding: 4px; font-size: .8em; font-weight: bold}        
      }
    }
    .el-dialog__body{
        padding: 20px 40px;  
    }
  }
}

// popover header login
.el-popover{
  .user-menu{    
    &-item{
      margin-bottom: 10px;
      a, a:hover, a:visited{
        color: $bb-grayWhite;
        font-size: 1em;
        line-height: 2em;        
        vertical-align: top;
        font-family: 'Neosans';
        // font-weight: 700;
      }
      .fa-icon{
        width: 2em;
      }
    }
    &-item:last-child{
      margin-bottom: 0;
      padding-top: 10px;
      border-top: 1px solid $bb-grayWhite;
    }
  }
}

.ads-gallery{  
  // background-color: #323232;  
  max-height: 500px;
  height: 500px;
}


// img di body artikel
.article-container .headline-container .main .content .teks img{
  width: 100%;
  height: 100%;
}