@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import 'element-ui/lib/theme-chalk/display.css';
@import './sidebar.scss';
@import './home.scss';

// optimizing https://developers.google.com/web/updates/2016/02/font-display
@font-face {
  font-family: 'DINPro-Regular';
  font-display: auto;
  src: url('../assets/fonts/dinpro/DINPro-Regular_13937.ttf'); 
}
@font-face {
  font-family: 'DINPro-Bold';
  font-display: auto;
  src: url('../assets/fonts/dinpro/DINPRO-BOLD.ttf'); 
}
@font-face {
  font-family: 'Neosans';
  font-display: auto;
  src: url('../assets/fonts/neosans/NEOSANS.otf'); 
}
@font-face {
  font-family: 'Neosans-Medium-Italic';
  font-display: auto;
  src: url('../assets/fonts/neosans/NeoSans Medium Italic.otf'); 
}
@font-face {
  font-family: 'Neosans-Medium';
  font-display: auto;
  src: url('../assets/fonts/neosans/NeoSans Medium.otf'); 
}
@font-face {
  font-family: 'Neosans-Black';
  font-display: auto;
  src: url('../assets/fonts/neosans/NeoSans Black.otf'); 
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  //font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-family: DINPro-Regular, Neosans-Medium-Italic, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.content-container {
  width: 80%;
  margin: 0 auto;
}
.sub-content-container {
  width: 90%;
  margin: 0 auto;
}

//DARFAT start
.m-t-10 {
  margin-top: 10px;
}
.m-t-5 {
  margin-top: 5px;
}

.m-t-20 {
  margin-top: 20px;
}
.m-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-l-5 {
  margin-left: 5px;
}
.p-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.main-article-title {
  font-size: 25px;
  color: $main-blue;
  font-weight: bold;
}
.section-title {
  font-size: 14px;
  text-transform: uppercase;
  color: $main-blue;
  font-weight: bold;
  font-family: 'Neosans';
}

.h-divider{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #353535;
  margin: auto;
}
.h-gray-divider{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #515151;
  margin: auto;
}


.v-icon,
  .icon-20 {
    width: 20px;
  }  
  .icon-24 {
    width: 24px;
  }
  .icon-30 {
    width: 30px;
  }
  .icon-40 {
    width: 40px;
  }
  .icon-0dot8em {
    width: 0.8em;
  }
  .icon-1dot8em {
    width: 1.8em;
  }

.article-content{
  color: #696968
}

.main-footer{
  background-color: #696968;
  color: #fff;
}

.side-separator {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: right;
}
.side-separator span{
  display: flex;
  flex-direction: row;
  color: #515151;
  font-size: 0.7em;  
}
.side-separator span:before{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #e6e6e6;
  margin: auto 10px auto auto;

}

.gray-separator {
  margin-top: 5px;
  text-align: right;
  margin-bottom: 10px;
}
.gray-separator span{
  display: flex;
  flex-direction: row;
  color: #515151;
}
.gray-separator span:before{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #e6e6e6;
  margin: auto;
}

.black-separator {
  margin-top: 10px;
  text-align: right;
}
.black-separator span{
  display: flex;
  flex-direction: row;
  color: #000;
}
.black-separator span:before{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.v-align-middle {
  vertical-align: middle;
}
.img-mini {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;  
}
.img-circle {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.follow-user {
  border: solid 1px #696968;
  padding-top :3px;
  padding-bottom :3px;
  width: 90px;
  text-align: center;

}
.font-blue {
  color: $main-blue;
}
.font-black {
  color: $bb-black;
}
.p-t-18{
  padding-top: 18px;
}
.font-h1{
  font-size: 2.0em;
}
.grid-content {
  min-height: 36px;
}
.circle-white-icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 6px;
    border: 2px solid $bb-white-menu;
}
.headline {
  color: $headline;
  font-family: 'Neosans-Medium';
  word-wrap: break-word;
}
.sub-headline,
.teaser {
  color: $subHeadline;
  word-wrap: break-word;
}
.content {
  color: $subHeadline
}
.author {
  color: $author
}

//comment 
.comments-container{
  margin-top:10px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;}
.comments-container .comments-content{
  background-color: #e6e6e6;
}

.red-line {
  background-color: $main-red;
  width: 13px;
  height: 7px;
  margin: 5px 0;    
}

.main-blue {
  color: $main-blue
}
.wscnph{
  max-width: 560px;
  max-height: 314px;
}
.copywriter{
  font-size: 0.7em;
  color: #515151
}
.advertorial {
  color: $main-red;
  font-size: 0.75em;
  font-weight: bold;
}
//END start

