@import './variables.scss';
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #000;
$lightest_gray: #eef5f8;

.signup{
    background-image: url("/static/images/signup-bg.jpg");
    background-color: #fff;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
    background-size: cover;
    width: 100%;
    height: 100%;
    @media all and (max-width : 768px) {
        overflow: scroll;
    }
}
.signup .signup-box{
    position: absolute;
    background-color: #fff;
    width: 390px;
    border-radius: 10px;
    bottom: 2%;
    right: 10%;
    font-size: 0.8em;
    padding: 20px 40px;
    color: $dark_gray;
    @media all and (max-width : 768px) {
        position: relative;
        top: 0; left: 0; right: 0; bottom: 0;
        margin: 20px auto;
        padding: 20px 40px;
        width: 330px;        
    }
}
.signup .signup-box .logo{
    text-align: center;
    margin-bottom: 20px;
}
.signup .signup-box img{
    max-width: 60px;
    height: auto;
    @media all and (max-width : 768px) {
        max-width: 40px;
    }
}
.signup .signup-box .form{
    margin-bottom: 10px;
}
.signup .signup-box .options{
    text-align: center;
}
.signup .signup-box .options .signup-label{
}
.signup .signup-box .options .signup-with{
    margin-bottom: 20px;
    @media all and (max-width : 768px) {
        margin-bottom: 5px;
    }
    // font-size: 3em;    
    .fb-signin-button {
        /* This is where you control how the button looks. Be creative! */
        display: inline-block;
        padding: 8px 10px;
        background-color: #4267b2;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
        .icon{
            width: 22px;
            height: 22px
        }
    }
    .g-signin-button {
        /* This is where you control how the button looks. Be creative! */
        display: inline-block;
        padding: 8px 10px;
        background-color: #dd4b39;
        color: #fff;
        // box-shadow: 0 3px 0 #0f69ff;
        border-radius: 50%;
        cursor: pointer;
        .icon{
            width: 22px;
            height: 22px
        }
    }
}
.signup .signup-box .options .login{
    color: $dark_gray;
}

a{
    color: $main-red;
}
span{
    line-height: 1.8em;
}
.el-form{    
    .el-input__inner {
        border: 1px solid $dark_gray;
        color: $dark_gray;        
        width: 100%;        
    }
    .el-input__inner:hover,
    .el-input__inner:focus {        
        border: 1px solid $main-blue;
    }
    .el-button{
        background-color: $main-blue;
        color: #fff;
        border: none;
        border-radius : 20px; 
        width: 100%;
    }    
}