@import './variables.scss';

.login{
    background-image: url("/static/images/login-bg.jpg");
    background-color: #fff;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
    background-size: cover;
    width: 100%;
    height: 100%;
}
.login .login-box{
    position: absolute;
    background-color: #fff;
    width: 390px;
    border-radius: 10px;
    top: 30%;
    right: 10%;
    font-size: 0.8em;
    padding: 20px 40px;
    @media all and (max-width : 768px) {
        position: absolute;
        top: 0; left: 0; right: 0;
        margin: 100px auto;
        width: 330px;
    }
}
.login .login-box .logo{
    text-align: center;
    margin-bottom: 20px;
}
.login .login-box img{
    max-width: 60px;
    height: auto;
}
.login .login-box .form{
    margin-bottom: 20px;
}
.login .login-box .options{
    text-align: center;    
}
.login .login-box .options .login-with{
    margin-bottom: 20px;
    // font-size: 3em;    
    .fb-signin-button {
        /* This is where you control how the button looks. Be creative! */
        display: inline-block;
        padding: 8px 10px;
        background-color: #4267b2;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
        .icon{
            width: 22px;
            height: 22px
        }
    }
    .g-signin-button {
        /* This is where you control how the button looks. Be creative! */
        display: inline-block;
        padding: 8px 10px;
        background-color: #dd4b39;
        color: #fff;
        // box-shadow: 0 3px 0 #0f69ff;
        border-radius: 50%;
        cursor: pointer;
        .icon{
            width: 22px;
            height: 22px
        }
    }
}
.login .login-box .options .sign-up{
    color: #889aa4;    
}

a{
    color: $main-red;
}