<template>
  <div class="advertisement-form-container">      
        <h2>Iklan Form</h2>
        <el-form class="form-container" ref="advertisementForm" :model="advertisement" :rules="rules" label-width="120px">
            <el-row>
              <el-col :span="21">
                    <el-form-item label="Nama Klien" prop="client_name">
                        <el-input v-model="advertisement.client_name"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="21">
                    <el-form-item label="No Order" prop="order_no">
                        <el-input v-model="advertisement.order_no"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="21">
                    <el-form-item label="No Banner" prop="banner_no">
                        <el-input v-model="advertisement.banner_no"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="21">
                    <el-form-item label="Nama Iklan" prop="title">
                        <el-input v-model="advertisement.title"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="21">
                  <el-form-item label="Tanggal">
                    <el-row :gutter="20">
                      <el-col :span="6">
                        <el-date-picker type="date" placeholder="Awal" v-model="advertisement.start_date" style="width: 100%;"></el-date-picker>
                      </el-col>
                      <el-col :span="6">
                        <el-date-picker type="date" placeholder="Akhir" v-model="advertisement.end_date" style="width: 100%;"></el-date-picker>
                      </el-col>
                    </el-row>
                  </el-form-item>
                </el-col>
                <el-col :span="21">
                    <el-form-item label="Tipe" prop="type">
                        <el-select v-model="advertisement.type" placeholder="Pilih Tipe Iklan">
                          <el-option
                            v-for="item in ads_type"
                            :key="item.type"
                            :label="item.label "
                            :value="item.type">
                          </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="21">
                  <el-form-item label="Posisi" prop="position">
                    <el-checkbox-group v-model="positionChecklist" @change="handleCheckedPositionChange">
                      <el-checkbox label="Home" v-model="advertisement.is_home"></el-checkbox>
                      <el-checkbox label="Kanal" v-model="advertisement.is_channel"></el-checkbox>
                      <el-checkbox label="Artikel" v-model="advertisement.is_article"></el-checkbox>
                      <el-checkbox label="Spesifik Artikel" v-model="advertisement.is_specific_article" v-if="checkAllArticle === false"></el-checkbox>
                    </el-checkbox-group>
                  </el-form-item>
                </el-col>
                <el-col :span="15" v-if="showChannel">
                  <el-form-item label="Kanal" prop="channel">
                    <el-checkbox-group v-model="channelChecklist" size="medium">>
                      <el-checkbox-button  v-for="item in channels" style="margin-top: 5px;"
                            :key="item.slug"
                            :label="item.slug" > {{item.name}}
                      </el-checkbox-button >
                    </el-checkbox-group>
                  </el-form-item>
                </el-col>
                <el-col :span="21" v-if="showSpecificArticle">
                  <el-form-item label="Spesifik Artikel" prop="specificArticle">
                    <el-table
                    :data="articleChecklist"
                    style="width: 98%">
                      <el-table-column
                        label="Article"
                        prop="slug"
                        >
                        <template slot-scope="scope">
                          <div>
                            <el-select 
                              v-model="scope.row.slug"
                              filterable
                              placeholder="Cari berdasar judul"
                              style="width: 100%">
                              <el-option
                                v-for="item in article_opts"
                                :key="item.id"
                                :label="item.title"
                                :value="item.slug">
                                <span style="float: left">{{ item.title }}</span>
                                <span style="float: right; color: #8492a6;">{{ item.editorial.name }} | {{ item.reporter_name }}</span>
                              </el-option>
                            </el-select>
                          </div>
                        </template>
                      </el-table-column>
                      <el-table-column
                        label="Delete"
                        width="100"
                        >
                        <template slot-scope="scope">
                          <el-button icon='el-icon-remove' size="mini" type="danger" v-on:click="removeArticleItem(scope.$index)">  </el-button>
                        </template>
                      </el-table-column>
                    </el-table>
                    <div class="m-t-10">
                      <el-button v-on:click="addArticleItem">Add</el-button>
                    </div>
                  </el-form-item>
                </el-col>
                <el-col :span="18">
                  <el-col :span="6">
                      <el-form-item label="Desktop">
                          <el-switch v-model="advertisement.is_web" active-text="Active" inactive-text="Inactive" ></el-switch>
                      </el-form-item>
                  </el-col>
                  <el-col :span="6">
                      <el-form-item label="Mobile">
                          <el-switch v-model="advertisement.is_mobile" active-text="Active" inactive-text="Inactive" ></el-switch>
                      </el-form-item>
                  </el-col>
                </el-col>
                <el-col :span="21">
                    <el-form-item label="Gambar" prop="image">
                      <div>
                        <span> {{ main_image_name }}</span>                        
                        <image-uploader  :isMultiple="false" class="image-uploader-btn" @successCBK="mainImageSuccessCallback"></image-uploader>
                        <span slot="tip" v-if="advertisement.type === 'Skinner'" class="el-upload__tip" ref="divTipImages">Skinner Kiri</span>
                      </div>
                      
                    </el-form-item>
                </el-col>
                <el-col :span="21" v-if="advertisement.type === 'Skinner'">
                    <el-form-item label="Gambar 2" prop="image">
                      <div>
                        <span> {{ main_image_name_2 }}</span>                        
                        <image-uploader  :isMultiple="false" class="image-uploader-btn" @successCBK="mainImage2SuccessCallback"></image-uploader>
                        <span slot="tip" v-if="advertisement.type === 'Skinner'" class="el-upload__tip" ref="divTipImages">Skinner Kanan</span>
                      </div>
                    </el-form-item>
                </el-col>
                <el-col :span="21">
                    <el-form-item label="URL" prop="url">
                        <el-input v-model="advertisement.url"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="21">
                    <el-form-item label="Deskripsi" prop="description">
                        <el-input type="textarea" :autosize="{ minRows: 4 }" v-model="advertisement.description"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="21">
                    <el-form-item>
                        <el-button @click="back()" >Cancel</el-button>
                        <el-button type="primary" @click="onSubmit('advertisementForm')" >Save</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
  </div>
</template>

<script>
import { update, create, getAdvertisementById } from '@/api/advertisement'
import ImageUploaderCrop from '@/components/ImageUploaderCrop'
import { mapGetters } from 'vuex'
import ImageUploader from '@/components/ImageUploader'
import { getAll } from '@/api/editorial'
import { getLatestArticleAll } from '@/api/article'
export default {
  name: 'AdvertisementForm',
  props: {
    advertisementId: { type: String }
  },
  components: {
    ImageUploaderCrop,
    ImageUploader
  },
  computed: {
    ...mapGetters([
      'name',
      'role',
      'email',
      'username',
      'user_id'
    ])
  },
  data() {
    return {
      advertisement: {
        status: 'new',
        active: true,
        channels_slug: '',
        articles_slug: '',
        is_mobile: false,
        is_web: false
      },
      action: 'add',
      loading: {
        snippet: false
      },
      main_image_name: '',
      main_image_name_2: '',
      ads_opts: [
        {
          value: 'Home',
          label: 'Home',
          type: '1'
        },
        {
          value: 'Kanal',
          label: 'Kanal',
          type: '1'
        },
        {
          value: 'Artikel',
          label: 'Artikel',
          type: '3'
        },
        {
          value: 'Spesifik Artikel',
          label: 'Spesifik Artikel',
          type: '4'
        }
      ],
      ads_type: [
        {
          type: 'Leaderboard',
          label: 'Leaderboard : 728px x 90px'
        },
        {
          type: 'Skinner',
          label: 'Skinner : 300px x 700px'
        },
        {
          type: 'Billboard',
          label: 'Billboard : 960px x 250px'
        },
        {
          type: 'Center Ads 1',
          label: 'Center Ads 1 : 650px x 90px'
        },
        {
          type: 'Center Ads 2',
          label: 'Center Ads 2 : 960px x 250px'
        },
        {
          type: 'Medium Rectangle 1',
          label: 'Medium Rectangle 1: 300px x 300px'
        },
        {
          type: 'Medium Rectangle 2',
          label: 'Medium Rectangle 2: 300px x 300px'
        }
      ],
      rules: {
        title: [
          { required: true, message: 'Silahkan Isi Nama Iklan', trigger: 'blur' }
        ],
        client_name: [
          { required: true, message: 'Silahkan Isi Nama Klien', trigger: 'blur' }
        ],
        order_no: [
          { required: true, message: 'Silahkan Is No Order', trigger: 'blur' }
        ],
        type: [
          { required: true, message: 'Silahkan Isi Kategori Iklan', trigger: 'blur' }
        ]
      },
      positionChecklist: [],
      checkAllArticle: false,
      showChannel: false,
      showSpecificArticle: false,
      channels: [],
      channelChecklist: [],
      articleChecklist: [],
      article_opts: []
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      this.advertisement.user_id = this.user_id

      if (this.advertisementId && this.advertisementId !== null) {
        this.getById(this.advertisementId)
        this.action = 'edit'
      }
      this.getChannels()
      this.getArticleOptions()
    },
    onChangeType() {
      this.advertisement.position = ''
    },
    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.advertisement.position = this.positionChecklist.toString()
          this.advertisement.channels_slug = this.channelChecklist.toString()
          if (this.articleChecklist) {
            this.advertisement.articles_slug = ''
            for (let i = 0; i < this.articleChecklist.length; i++) {
              if (i + 1 < this.articleChecklist.length) {
                this.advertisement.articles_slug += this.articleChecklist[i].slug + ','
              } else {
                this.advertisement.articles_slug += this.articleChecklist[i].slug
              }
            }
          }
          if (this.action === 'add') {
            create(this.advertisement)
              .then(response => {
                this.$router.push({ name: 'advertisement-list' })
              })
              .catch(error => {
                console.log(error)
              })
          } else {
            update(this.advertisement)
              .then(response => {
                this.$router.push({ name: 'advertisement-list' })
              })
              .catch(error => {
                console.log(error)
              })
          }
        } else {
          console.error('failed to submit!!')
          return false
        }
      })
    },
    getById(advertisementID) {
      getAdvertisementById({
        advertisementID
      }).then(response => {
        if (response) {
          this.advertisement = response.data
          if (this.advertisement.image) {
            const aarName = this.advertisement.image.split('/')
            this.main_image_name = aarName[aarName.length - 1]
          }
          if (this.advertisement.image_2) {
            const aarName = this.advertisement.image_2.split('/')
            this.main_image_name_2 = aarName[aarName.length - 1]
          }
          if (this.advertisement.position) {
            this.positionChecklist = this.advertisement.position.split(',')
            this.handleCheckedPositionChange(this.positionChecklist)
          }
          if (this.advertisement.channels_slug) {
            this.channelChecklist = this.advertisement.channels_slug.split(',')
          }
          if (this.advertisement.articles_slug) {
            const arrSlug = this.advertisement.articles_slug.split(',')
            arrSlug.forEach(aSlug => {
              const data = { slug: aSlug }
              this.articleChecklist.push(data)
            })
          }
        }
      })
    },
    mainImageSuccessCallback(res) {
      if (res) {
        this.advertisement.image = res[res.length - 1].url
        this.main_image_name = res[res.length - 1].filename
        this.$message({
          type: 'success',
          message: 'Foto Berhasil Diupload'
        })
      }
    },
    mainImage2SuccessCallback(res) {
      if (res) {
        this.advertisement.image_2 = res[res.length - 1].url
        this.main_image_name_2 = res[res.length - 1].filename
        this.$message({
          type: 'success',
          message: 'Foto Berhasil Diupload'
        })
      }
    },
    back() {
      this.$router.push({ name: 'advertisement-list' })
    },
    handleCheckedPositionChange(value) {
      const checkedCount = value.length
      if (checkedCount > 0 && this.positionChecklist.indexOf('Artikel') !== -1) {
        this.checkAllArticle = true
        const idx = this.positionChecklist.indexOf('Spesifik Artikel')
        if (idx !== -1) {
          this.positionChecklist.splice(idx, 1)
        }
      } else {
        this.checkAllArticle = false
      }
      this.showChannel = this.positionChecklist.indexOf('Kanal') !== -1
      this.showSpecificArticle = this.positionChecklist.indexOf('Spesifik Artikel') !== -1
    },
    getChannels() {
      getAll().then(response => {
        this.channels = response.data
      })
    },
    getArticleOptions() {
      const params = {}
      getLatestArticleAll(params).then(response => {
        if (response) {
          this.article_opts = response.data.data
        }
      })
    },
    removeArticleItem(idx) {
      this.articleChecklist.splice(idx, 1)
    },
    addArticleItem() {
      const data = {
        slug: ''
      }
      this.articleChecklist.push(data)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.image-uploader-btn {
  display: inline-block;
  }

</style>