<template>
<div class="hl-slider">
  <el-carousel v-loading="loading.headlines" :interval=9000>
    <el-carousel-item v-for="article in headlines" :key="article.id">      
      <div class="item-wrapper-hl">
        <el-row>
          <el-col :xs="24" :sm="14">
            <router-link v-if="article.article_type === 'news'"  :to="{ name: 'article-detail-route', params: { 'editorialSlug':article.editorial.slug, 'slug': article.slug,  'articleID': article.id} }">
              <img v-lazy="article.main_image" class="image-hl">
              <h2>{{article.editorial.name}}</h2>
            </router-link>
            <router-link v-if="article.article_type === 'image'"  :to="{ name: 'editorial-image-detail', params: { 'editorialSlug':article.editorial.slug, 'slug': article.slug,  'articleID': article.id} }">
              <img v-lazy="article.main_image" class="image-hl">
              <h2>{{article.editorial.name}}</h2>
            </router-link>
          </el-col>
          <el-col :xs="24" :sm="10">            
            <div class="info">      
              <router-link v-if="article.article_type === 'news'"  :to="{ name: 'article-detail-route', params: { 'editorialSlug':article.editorial.slug, 'slug': article.slug,  'articleID': article.id} }">              
                <h1 class="headline" v-html="subString(article.title,101)"></h1>              
              </router-link>
              <router-link v-if="article.article_type === 'image'"  :to="{ name: 'editorial-image-detail', params: { 'editorialSlug':article.editorial.slug, 'slug': article.slug,  'articleID': article.id} }">              
                <h1 class="headline" v-html="subString(article.title,101)"></h1>              
              </router-link>
              <p v-if="article.teaser" v-html="subString(article.teaser, 253)" class="teaser" ></p> 
              <p class="red-line"></p>
              <p class="author">{{ article.reporter_name}} | <timeago :since="article.publish_date | formatUTC"></timeago></p>
              <div class="share">
                <bb-love :articleID="article.id" :type="'article'" ></bb-love>        
                <share-pop :article="article"></share-pop>
              </div>
            </div>
          </el-col>
        </el-row>        
      </div>      
    </el-carousel-item>
  </el-carousel>
</div>
</template>

<script>
import { getHeadlineArticles } from '@/api/headline_article'
import BbLove from '@/views/portal/components/BbLove'
import SharePop from '@/views/portal/components/SharePop'
export default {
  name: 'HeadlineSlider',
  components: {
    BbLove,
    SharePop
  },
  props: {
    limit: { default: 8, type: Number }
  },
  data() {
    return {
      headlines: [],
      loading: {
        headlines: false
      }
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      this.getHeadlines()
    },
    getHeadlines() {
      getHeadlineArticles({ page: 1, per_page: this.limit }).then(response => {
        if (response) {
          this.headlines = response.data.data
        }
      })
    },
    subString(str, len) {
      if (str) {
        if (str.length < len) {
          return str
        } else {
          return str.substring(0, (len - 3)) + '&hellip;'
        }
      }
      return ''
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "src/styles/home-headline-slider.scss";
  .el-row {
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 0;
  }
</style>