<template>
  <section class="home-main">    
    <transition name="fade" mode="out-in">
      <router-view :key="$route.fullPath" ></router-view>
    </transition>
  </section>
</template>

<script>
// import { AdsSide } from '@/views/portal/components'
export default {
  name: 'HomeMain',
  // components: { AdsSide },
  computed: {
    // key() {
    //   return this.$route.name !== undefined ? this.$route.name + +new Date() : this.$route + +new Date()
    // }
  }
}
</script>
