<template>
<!-- is web -->
<div class="ads-container" v-if="ads">
  <div v-if="showAds">
    <div class="ads-title" v-if="showTitle">IKLAN</div>
    <div  v-loading="loading.ads">    
      <div class="ads-content">
        <a :href="ads.url" target="_blank"> 
          <!-- <img v-lazy="ads.image" v-if="ads.type !== 'Leaderboard'"/>  style="max-height:90px" -->
          <img v-lazy="ads.image" />
        </a>
      </div>
    </div>
  </div> 
</div>

</template>
<script>
import { getAdvertisementByPositionAndType, getAdvertisementByType } from '@/api/advertisement'
import EventBus from '@/utils/event-bus'
export default {
  name: 'AdsBanner',
  props: {
    position: { type: String },
    adsType: { type: String },
    channelSlug: { type: String },
    articleSlug: { type: String },
    showTitle: { type: Boolean }
  },
  data() {
    return {
      ads: null,
      loading: {
        ads: false
      },
      showAds: true
    }
  },
  created() {
    this.init()
  },
  computed: {
    displayText() {
      return this.$mq === 'sm' ? 'You are on mobile device' : 'You are on larger device'
    },
    isOnMobileView() {
      return this.$mq === 'sm'
    },
    isOnWebView() {
      return this.$mq === 'md' || this.$mq === 'lg'
    }
  },
  methods: {
    init() {
      // console.log(this.adsType)
      // console.log(this.position)
      // console.log('channel ' + this.channelSlug)
      // console.log('articleSlug ' + this.articleSlug)
      // console.log(this.$route)
      // console.log('------------------------------\n')
      if (this.adsType) {
        if (this.adsType === 'Leaderboard') {
          this.getAdsByType(this.adsType, this.channelSlug, this.articleSlug, this.position)
          EventBus.$on('ADS_LEADERBOARD_CHANGE_EVENT', event => {
            this.getAdsByType('Leaderboard', event.editorial_slug, event.articles_slug, event.position)
          })
        } else {
          this.getAdsByPositionAndType(this.position, this.adsType)
        }
      }
    },
    getAdsByPositionAndType(position, type) {
      this.loading.ads = true
      getAdvertisementByPositionAndType({
        position,
        type
      }).then(response => {
        if (response && response.data) {
          // eslint-disable-next-line
          // let evt = {
          //   position,
          //   show: false
          // }
          if (response.data.status && response.data.status !== 'notFound') {
            this.ads = response.data
            this.validateAdsAttr(this.ads, this.channelSlug, this.articleSlug, this.position)
          } else {
            // evt.show = false
          }
        }
        this.loading.ads = false
      })
    },
    getAdsByType(type, channel_slug, article_slug, position) {
      this.loading.ads = true
      getAdvertisementByType({
        type
      }).then(response => {
        if (response && response.data) {
          // eslint-disable-next-line
          // let evt = {
          //   position,
          //   show: false
          // }
          if (response.data.status && response.data.status !== 'notFound') {
            this.ads = response.data
            this.validateAdsAttr(this.ads, channel_slug, article_slug, position)
            if (this.adsType === 'Leaderboard') {
              EventBus.$emit('ADS_CHECK_LEADERBOARD_SKINNER_EVENT', { 'isHaveLeaderboard': this.showAds })
            }
          } else {
            // evt.show = false
          }
        }
        this.loading.ads = false
      })
    },
    validateAdsAttr(ads, channel_slug, article_slug, position) {
      if (ads) {
        const poss = this.ads.position.split(',')
        const isAllArticle = poss.indexOf('Artikel') !== -1
        if (isAllArticle) {
          this.showAds = true && this.validateDevice(this.ads)
        } else {
          const isSpecificArticle = poss.indexOf('Spesifik Artikel') !== -1
          if (isSpecificArticle) {
            if (article_slug) {
              this.showAds = this.ads.articles_slug && this.ads.articles_slug.indexOf(article_slug) !== -1 && this.validateDevice(this.ads)
            } else {
              this.showAds = false
            }
          } else {
            this.showAds = false
          }
        }
        if (poss.indexOf('Kanal') !== -1 && channel_slug) {
          this.showAds = this.ads.channels_slug && this.ads.channels_slug.indexOf(channel_slug) !== -1 && this.validateDevice(this.ads)
        }
        if (poss.indexOf('Home') !== -1 && position === 'Home') {
          this.showAds = this.validateDevice(this.ads)
        }
      }
    },
    validateDevice(ads) {
      let deviceCheck = false
      if (this.isOnMobileView && this.ads.is_mobile) {
        deviceCheck = true
      } else {
        deviceCheck = false
      }
      if (this.isOnWebView && this.ads.is_web) {
        deviceCheck = true
      } else {
        deviceCheck = false
      }
      return deviceCheck
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/adsbanner.scss";

</style>