<template>
  <div>
    <div v-if="showAds">
      <!-- LEFT SKINNER -->
      <div v-if="isLeaderboard" v-loading="loading.ads">
        <div :class="scrolled > 50 ? 'bn_skin_sc bn_skin1' : 'bn_skin_l bn_skin1' ">
          <div class="skin3">
            <a :href="ads.url" target="_blank"> 
              <img v-lazy="ads.image" />
            </a>
          </div>
        </div>
      </div>
      <div v-else>
        <div :class="scrolled > 50 ? 'bn_skin_sc bn_skin1' : 'bn_skin bn_skin1' ">
          <div class="skin3">
            <a :href="ads.url" target="_blank"> 
              <img v-lazy="ads.image" />
            </a>
          </div>
        </div>
      </div>
      <!-- LEFT SKINNER END -->

      <!-- RIGHT SKINNER -->
      <div v-if="isLeaderboard" v-loading="loading.ads">
        <div :class="scrolled > 50 ? 'bn_skin_sc bn_skin2' : 'bn_skin_l bn_skin2' ">    
          <div class="skin3">
            <a :href="ads.url" target="_blank"> 
              <img v-lazy="ads.image_2" />
            </a>
          </div>
        </div>
      </div>
      <div v-else>
        <div :class="scrolled > 50 ? 'bn_skin_sc bn_skin2' : 'bn_skin bn_skin2' ">    
          <div class="skin3">
            <a :href="ads.url" target="_blank"> 
              <img v-lazy="ads.image_2" />
            </a>
          </div>
        </div>
      </div>
      <!-- RIGHT SKINNER END-->
    </div>
  </div>
</template>
<script>
import { getAdvertisementByPositionAndType } from '@/api/advertisement'
import EventBus from '@/utils/event-bus'
export default {
  name: 'AdsSide',
  props: {
    position: { type: String },
    adsType: { type: String, default: 'Skinner' },
    channelSlug: { type: String },
    articleSlug: { type: String },
    showTitle: { type: Boolean }
  },
  data() {
    return {
      isAds: true,
      isLeaderboard: false,
      scrolled: null,
      showAds: false,
      ads: null,
      loading: {
        ads: false
      }
    }
  },
  computed: {
    displayText() {
      return this.$mq === 'sm' ? 'You are on mobile device' : 'You are on larger device'
    },
    isOnMobileView() {
      return this.$mq === 'sm'
    },
    isOnWebView() {
      return this.$mq === 'md' || this.$mq === 'lg'
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll)
    this.init()
    EventBus.$on('ADS_CHECK_LEADERBOARD_SKINNER_EVENT', event => {
      this.isLeaderboard = event.isHaveLeaderboard
    })
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll() {
      this.scrolled = window.scrollY
    },
    init() {
      this.getAdsByPositionAndType(this.position, this.adsType)
    },
    getAdsByPositionAndType(position, type) {
      this.loading.ads = true
      getAdvertisementByPositionAndType({
        position,
        type
      }).then(response => {
        if (response && response.data) {
          if (response.data.status && response.data.status !== 'notFound') {
            this.ads = response.data
            this.validateAdsAttr(this.ads, this.channelSlug, this.articleSlug, this.position)
          } else {
            // evt.show = false
          }
        }
        this.loading.ads = false
      })
    },
    validateAdsAttr(ads, channel_slug, article_slug, position) {
      if (ads) {
        const poss = this.ads.position.split(',')
        const isAllArticle = poss.indexOf('Artikel') !== -1
        if (isAllArticle) {
          this.showAds = true && this.validateDevice(this.ads)
        } else {
          const isSpecificArticle = poss.indexOf('Spesifik Artikel') !== -1
          if (isSpecificArticle) {
            if (article_slug) {
              this.showAds = this.ads.articles_slug && this.ads.articles_slug.indexOf(article_slug) !== -1 && this.validateDevice(this.ads)
            }
          }
        }
        if (poss.indexOf('Kanal') !== -1 && channel_slug) {
          this.showAds = this.ads.channels_slug && this.ads.channels_slug.indexOf(channel_slug) !== -1 && this.validateDevice(this.ads)
        }
        if (poss.indexOf('Home') !== -1 && position === 'Home') {
          this.showAds = true
        }
      }
    },
    validateDevice(ads) {
      let deviceCheck = false
      if (this.isOnWebView && this.ads.is_web) {
        deviceCheck = true
      } else {
        deviceCheck = false
      }
      if (this.isOnMobileView) {
        deviceCheck = false
      }
      return deviceCheck
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .bn_skin_l { position: fixed; width: 300px; top: 270px; z-index: 1000;}
  .bn_skin_sc { position: fixed; width: 300px; top: 50px; z-index: 1000;}
  .bn_skin { position: fixed; width: 300px; top: 180px; z-index: 1000;}
  .bn_skin1 { left: 50%; margin-left: -810px;}
  .bn_skin1 .skin3 { float: right; }
  .bn_skin2 { right: 50%; margin-right: -810px; }  
  .bn_skin2 .skin3 { float: left; }

  img {
      vertical-align: middle;
      width: 300px;
      height: 700px;
      border-top-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0px;
      border-left-width: 0px;
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
  }

 

</style>