<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: 'Beranda',
    // all titles will be injected into this template
    titleTemplate: '%s | Beritabaik.id',
    meta: [
      { charset: 'utf-8' }
      // { vmid: 'description', name: 'description', content: 'test' },
      // { vmid: 'keywords', name: 'keywords', content: 'this.mainArticle && this.mainArticle.article_tags ' }
    ]
    // meta: [
    //   // Google / Schema.org markup:
    //   { itemprop: 'name', content: 'Beranda | Beritabaik.id' },
    //   { itemprop: 'description', content: 'Good news, is the best news!' },
    //   { itemprop: 'image', content: 'https://www.beritabaik.id/img/berita_baik_square.png' },
    //   { itemprop: 'keywords', content: 'beritabaik, news' }
    // ]
  }
}
</script>
